.page {
    padding: 24px;
}

.back {
    background: none;
    border: none;
    color: blueviolet;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

.main {
    display: flex;
    gap: 24px;
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black-800);
    margin-bottom: 4px;
}

.titleAnswer {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-black-800);
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: var(--color-black-700);
}

.text {
    white-space: pre-line;
    line-height: 1.6;
    position: relative;
}

.collapsed {
    max-height: 740px;
    overflow: hidden;
    position: relative;
}

.toggleWrapper {
    text-align: center;
    margin-top: 12px;
}

.toggle {
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: blueviolet;
    cursor: pointer;
    font-size: 14px;
}

.label {
    font-size: 16px;
    color: var(--color-black-400);
    font-weight: 100;
    display: block;
    margin: 12px 0 4px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 4px 4px 0 0;
    font-size: 16px;
    color: var(--color-black-800);
}

.tagSkills {
    display: inline-block;
    padding: 10px 12px;
    margin: 10px;
    font-size: 16px;
    color: var(--color-purple-600);
    border: 1px solid var(--color-purple-600);
    border-radius: 8px;
}

.author {
    font-size: 14px;
    color: var(--color-black-900);
    margin-top: 30px;
    text-align: center;
}

.authorText {
    color: var(--color-purple-700);
}

.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    border-radius: 0 0 16px 16px;
    z-index: 1;
}

.text ul,
.text ol {
    list-style: none;        /* Убираем маркеры и нумерацию */
    padding-left: 0;         /* Убираем отступ слева */
    margin-left: 0;
}

.text li {
    padding-left: 0;
    margin-bottom: 8px;      /* Если нужен небольшой отступ между пунктами */
}

.questionHeader {
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    gap: 16px;
}

.image {
    width: 170px;
    height: 114px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.textContent {
    flex: 1;
}

.levelWrapper {
    display: flex;
    gap: 16px;

}

.level {
    background: var(--color-black-100);
    border-radius: 10px;
    padding: 6px 10px;
}

.levelNumber {
    background-color: var(--color-purple-700);
    color: var(--color-white-900);
    padding: 2px 4px;
    border-radius: 5px;
}