.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--color-black-800);
    margin-bottom: 4px;
}

.label {
    font-size: 16px;
    color: var(--color-black-400);
    font-weight: 100;
    display: block;
    margin: 12px 0 4px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    margin: 4px 4px 0 0;
    font-size: 16px;
    color: var(--color-black-800);
}

.tagSkills {
    display: inline-block;
    padding: 10px 12px;
    margin: 10px;
    font-size: 16px;
    color: var(--color-purple-600);
    border: 1px solid var(--color-purple-600);
    border-radius: 8px;
}

.author {
    font-size: 14px;
    color: var(--color-black-900);
    margin-top: 30px;
    text-align: center;
}

.authorText {
    color: var(--color-purple-700);
}

.levelWrapper {
    display: flex;
    gap: 16px;

}

.level {
    background: var(--color-black-100);
    border-radius: 10px;
    padding: 6px 10px;
}

.levelNumber {
    background-color: var(--color-purple-700);
    color: var(--color-white-900);
    padding: 2px 4px;
    border-radius: 5px;
}